/***********************************************************************************************************************
 * Good to know:
 *
 * Responsive Measurements
 * -----------------------------------------------------------
 * Extra small devices (phones, less than 768px)
 *   No media query since this is the default in Bootstrap
 * Small devices (tablets, 768px and up)
 *   @media only screen and (min-width: 768px)
 * Medium devices (desktops, 992px and up)
 *   @media only screen and (min-width: 992px)
 * Large devices (large desktops, 1200px and up)
 *   @media only screen and (min-width: 1200px)
 **********************************************************************************************************************/

/***********************************************************************************************************************
 * XE - XmlEditor Upload Styling
 *
 **********************************************************************************************************************/
 .xe-upload{
   &.xe-upload-container{
     padding: 20px;
     margin-bottom: 10px;
     border-bottom: solid 1px lightgray;
   }

   .xe-upload-filename{
     margin-right: 5px;
     font-size: large;
   }

 }

/***********************************************************************************************************************
* XE - XmlEditor Download Styling
*
**********************************************************************************************************************/
.xe-download {
  &.xe-download-container {
    padding: 20px;
    margin-top: 10px;
    border-top: solid 1px lightgray;
  }
}


  /***********************************************************************************************************************
 * XE - XmlEditor Styling
 *
 **********************************************************************************************************************/
  .ng-invalid {
    //border: red 1px solid !important;
    /* glowing border*/
    outline: none;
    border-color: red;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255,0,0,0.6);
    box-shadow: 0px 0px 7px 0px rgba(255,0,0,0.6);
  }

  .xe-v-center{
    display: flex;
    align-items: center;
  }

  .spacer-btn {
    margin: 3px;
  }
.btn-fullwidth {
    width: 100%
  }

  .xe-tag-container {
    .panel-body {
      padding: 5px;
    }
  }

  .xe-xml-tag-end-marker{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
  }


  .xe-defaultLanguage, .xe-configuration-attrs{
    max-width: 100%;
    .xe-input-container{
      vertical-align: middle;
    }
  }
  /*Medium devices (desktops, 992px and up)*/
  @media only screen and (min-width: 992px) {
    .xe-defaultLanguage, .xe-configuration-attrs {
      max-width: 65%;
    }
  }

  /********************
   * Collapsing Panel
   ********************/
  .xe-collapsingpanel{
    .panel-heading{
      padding: 0px;

      .panel-title{
        button.xe-collapse-toggle-button{
          //width: 100%;
          height: 100%;
          text-align: left;
          //background: none;

          &[aria-expanded="true"] {
            span.xe-caret {
              @extend .glyphicon;
              @extend .glyphicon-triangle-bottom;
            }
          }
          &[aria-expanded="false"] {
            span.xe-caret {
              @extend .glyphicon;
              @extend .glyphicon-triangle-right;
            }
          }
        }
      }
    }
  }

  .xe-entryGroup{
    @extend .col-xs-12; //Small devices sholud use all space
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-4;
    //max-width: 500px;
    display: inline-block;
    @media only screen  and (max-width: 768px){
        padding-left: 0px;
        padding-right: 0px;
    }
  }
  /*Small devices (tablets, 768px and up)*/
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .xe-spacer-2 {
      clear: both;
      width: 100%;
      border-bottom: dotted 1px grey;
      margin-bottom: 20px;
    }
  }
  /*Medium devices (desktops, 992px and up)*/
  @media only screen and (min-width: 992px) {
    .xe-spacer-3 {
      clear: both;
      width: 100%;
      border-bottom: dotted 1px grey;
      margin-bottom: 20px;
    }
  }

  .xe-entryGroup-panel {
    max-width: 500px;
    background-color: rgb(236,236,236);
    .xe-header {
      display: inline-block;
      width: 100%;
      height: 50px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_Head.jpg") no-repeat left top;
      background-size: contain;
      background-color: rgb(34, 34, 34);
    }
    .xe-body{
      background-color: rgb(236,236,236);
    }
    .xe-footer {
      display: inline-block;
      width: 100%;
      height: 50px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_Foot.jpg") no-repeat left top;
      background-size: contain;
      background-color: rgb(0, 0, 0);
    }
  }

  .xe-entryGroup{
    .btn-add-entry {
      margin: 3px 0px;

    }
  }

.xe-entry {
  .btn-group {
    margin: 3px 0px;
  }
}

  .btn-add-entry {
    color: #fff;
    background-color: deepskyblue;
    border-color: #0098cc;
    padding: 3px 12px;
  }


  .xe-entry-body{
    padding: 3px;
    border: 1px solid deepskyblue;
    margin-bottom: 0px;
    .xe-label{
      font-weight: bold;
      //font-size: larger;
    }
    .xe-entry-restid, .xe-entry-delete{
      padding-left: 0px;
      padding-right: 0px;
    }
    .xe-entry-labels{
      min-height: 33px;
      margin-top:3px;
    }
    .xe-entry-delete{
      height: 100%;
    }
  }

  .xe-labels{

    .panel {
      margin-bottom: 5px;
      //background: none;
    }
    .panel-collapse{
      padding-top: 10px;

    }
    .xe-labels-col{
      padding-left: 0px;
      padding-right: 0px;
    }


    .xe-labels-summery{
      display: inline-block;
      min-height: 32px;
      width: 100%;
      vertical-align: middle;

      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px 12px;

      font-size: medium;
      font-weight: bold;

    }
    .xe-labels-values {
      display: inline-block;
      min-height: 21px;
    }
  }
  .xe-mandatory{
    button{
      width:100%;
    }
  }

  .xe-viewport{
    @media only screen  and (min-width: 480px){
      padding-left: 10px;
      padding-right: 10px;
    }

    .xe-selector{
      width: 100%;
      margin-bottom: 5px;
      //margin-left: 5px;
      //background-color: rgb(221, 221, 221);
    }
  }
  .xe-spinner {
    height: 50px;
  }

  .xe-dummy {
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: rgb(236,236,236);
    margin-right: 3px;

    &.xe-dummy-spinner{
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_spinner.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-textfield {
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_textfield.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-numerictextfield {
      height: 100px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_numerictextfield.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-numberpicker {
      height: 100px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_numberpicker.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-buttonmatrix {
      height: 110px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_buttonmatrix.jpg") no-repeat left top;
      background-size: contain;
    }
  }

  .xe-datasource {
    display: inline-block;
    height: 100%;
  }
  .xe-options {
    padding-top: 5px;
  }

  .xe-default, .xe-option{
    margin-bottom: 7px;
  }

  .xe-decimalplaces-modal, .xe-max-modal, .xe-min-modal, .xe-numberOfButtons-modal, .xe-datasource-type-modal{
    margin: 2px 0px;
  }

  .xe-panel-container {
    padding-left: 0;
    padding-right: 0;
  }



