$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/***********************************************************************************************************************
 * XE - XmlEditor Upload Styling
 *
 **********************************************************************************************************************/
 .xe-upload{
   &.xe-upload-container{
     padding: 20px;
     margin-bottom: 10px;
     border-bottom: solid 1px lightgray;
   }

   .xe-upload-filename{
     margin-right: 5px;
     font-size: large;
   }

 }

  /***********************************************************************************************************************
 * XE - XmlEditor Styling
 *
 **********************************************************************************************************************/
  .ng-invalid {
    border: red 1px solid !important;
  }

  .xe-v-center{
    display: flex;
    align-items: center;
  }
  .xe-tag-container {
    .panel-body {
      padding: 5px;
    }
  }

  .xe-xml-tag-end-marker{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
  }

  .xe-defaultLanguage{
    max-width: 400px;
    .xe-input-container{
      vertical-align: middle;
    }
  }
  /********************
   * Collapsing Panel
   ********************/
  .xe-collapsingpanel{
    .panel-heading{
      padding: 0px;
      .panel-title{
        button.xe-collapse-toggle-button{
          //width: 100%;
          height: 100%;
          text-align: left;
          background: none;

          &[aria-expanded="true"] {
            span.xe-caret {
              @extend .glyphicon;
              @extend .glyphicon-triangle-bottom;
            }
          }
          &[aria-expanded="false"] {
            span.xe-caret {
              @extend .glyphicon;
              @extend .glyphicon-triangle-right;
            }
          }
        }
      }
    }
  }

  .xe-entryGroup{
    @extend .col-xs-12; //Spall devices sholud use all space
    @extend .col-md-4;
    @extend .col-lg-4;
    //max-width: 500px;
    display: inline-block;
  }
  .xe-entryGroup-panel {
    max-width: 500px;
    background-color: rgb(236,236,236);
    .xe-header {
      display: inline-block;
      width: 100%;
      height: 50px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_Head.jpg") no-repeat left top;
      background-size: contain;
      background-color: rgb(34, 34, 34);
    }
    .xe-body{
      background-color: rgb(236,236,236);
    }
    .xe-footer {
      display: inline-block;
      width: 100%;
      height: 50px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_Foot.jpg") no-repeat left top;
      background-size: contain;
      background-color: rgb(0, 0, 0);
    }
  }
  .xe-entry{
    padding: 3px;
    border: 1px solid deepskyblue;
    .xe-entry-label{
      font-weight: bold;
      //font-size: larger;
    }
  }
  .xe-mandatory{
    button{
      width:100%;
    }
  }

  .xe-viewport{
    padding-left: 10px;
    padding-right: 10px;
    .xe-selector{
      width: 100%;
      margin-bottom: 5px;
      //margin-left: 5px;
      //background-color: rgb(221, 221, 221);
    }
  }
  .xe-spinner {
    height: 50px;
  }

  .xe-dummy {
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: rgb(236,236,236);

    &.xe-dummy-spinner{
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_spinner.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-textfield {
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_textfield.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-numerictextfield {
      height: 100px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_numerictextfield.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-numberpicker {
      height: 100px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_numberpicker.jpg") no-repeat left top;
      background-size: contain;
    }
    &.xe-dummy-buttonmatrix {
      height: 110px;
      background: url("/scripts/components/xmlEditor/templates/images/BioDivApp_Dummy_buttonmatrix.jpg") no-repeat left top;
      background-size: contain;
    }
  }

  .xe-datasource {
    display: inline-block;
    height: 100%;
  }
  .xe-options {
    padding-top: 5px;
  }

  .xe-decimalplaces-modal, .xe-max-modal, .xe-min-modal, .xe-numberOfButtons-modal, .xe-datasource-type-modal{
    margin: 2px 0px;
  }

  .xe-panel-container {
    padding-left: 0;
    padding-right: 0;
  }


