<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span translate="global.title">BioDivApp Configurator</span> <span class="navbar-version hidden-xs"> {{VERSION}} </span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!--<li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>-->

                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="xmlfile">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span translate="global.menu.xmlfile">XML Editor</span>
                    </a>
                </li>

                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <span class="hidden-tablet" translate="global.menu.atlas">
                                        Atlanten
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="a in atlasList" ng-class="{active: selectedAtlas!=null && selectedAtlas.id === a.id}">
                            <a ng-href="{{a.url}}">
                                <span ng-bind="a.name" />
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer" ng-show="selectedAtlas!=null && selectedAtlas.id !== 0">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span>
                        </a>
                        </li>
                        <!---<li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Log in</span></a></li>-->
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ng-click="login()"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Log in</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)"><span class="check"></span> {{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
