<div class="xe-tag-container xe-datasource">
    <!-- Button trigger modal -->
    <button type="button xe-datasource-modal-button" class="btn btn-default" data-toggle="modal" data-target="#xe_datasource_type_modal_{{$id}}">
        <span  class="glyphicon glyphicon-new-window"></span>
    </button>

    <!-- Modal -->
    <div class="modal fade xe-datasource-type-modal" id="xe_datasource_type_modal_{{$id}}" tabindex="-1" role="dialog" aria-labelledby="xe_datasource_type_modal_label_{{$id}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="xe_datasource_type_modal_label_{{$id}}">Datasource Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="xe-datasource-type">
                        <label>Type</label>
                        <select class="form-control" ng-model="xmlTag.attributes[0].value" ng-required="true">
                            <option>local</option>
                            <option>rest</option>
                        </select>
                    </div>
                    <xe-xml-sub-tags sub-tags="xmlTag.subTags"></xe-xml-sub-tags>
                </div>
            </div>
        </div>
    </div>
</div>