<div class="xe-tag-container xe-defaultLanguage">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="defaultLanguage" class="col-sm-3 control-label">Default Language: </label>
            <div class="col-sm-9 xe-input-container">
                <div class="input-group">
                    <input id="defaultLanguage" type="text" class="form-control" aria-label="defaultLanguage" ng-model="xmlTag.value" ng-required="true">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" ng-click="xmlTag.value='de'">de</a></li>
                            <li><a href="#" ng-click="xmlTag.value='en'">en</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <xe-xml-sub-tags xml-tag="xmlTag"></xe-xml-sub-tags>
</div>