<div class="xe-tag-container xe-defaults">

    <div class="panel panel-default">
        <div class="panel-heading">Defaults</div>
        <div class="panel-body">
            <xe-xml-sub-tags sub-tags="xmlTag.subTags"></xe-xml-sub-tags>
            <button type="button" class="btn btn-default" ng-click="addTag(xmlTag.subTags, XmlTag('default',null,[], []));">
                <span class="glyphicon glyphicon-plus"></span><span translate="xmlfile.Add" translate-value-thing="Default">Add Default</span>
            </button>
        </div>
    </div>

</div>