<div class="xe-tag-container xe-entry">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group" ng-hide="isFirst()">
            <button class="btn btn-primary btn-add-entry" ng-click="moveUp()"><span class="glyphicon glyphicon-sort"></span> Switch </button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-primary btn-add-entry"
                ng-click="addTagBefore(XmlTag('entry','',[], [XmlTag('labels','',[],[]), XmlTag('viewport','5',[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create Entry</button>
        </div>
    </div>
    <div class="xe-tag-container xe-entry-body well">

        <div class="xe-entry-header">
            <div class="xe-entry-labels col-xs-10">
                <xe-xml-sub-tags xml-tag="xmlTag" q-name-include-filter="labels"></xe-xml-sub-tags>
            </div>
            <div class="xe-entry-delete col-xs-2">
                <button class="btn btn-default pull-right" type="button" data-toggle="collapse" ng-click="removeTag();">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>


        <xe-xml-sub-tags xml-tag="xmlTag" q-name-include-filter="viewport"></xe-xml-sub-tags>
        <xe-xml-sub-tags xml-tag="xmlTag" q-name-include-filter="mandatory"></xe-xml-sub-tags>
        <div class="xe-mandatory" ng-hide="doSubTagsContain('mandatory')">
            <button type="button" class="btn btn-default"ng-click="addTag(xmlTag.subTags, XmlTag('mandatory','false',[], []));">
                <span class="glyphicon glyphicon-check"></span> Mandatory
            </button>
        </div>

        <xe-xml-sub-tags xml-tag="xmlTag" q-name-exclude-filter="labels viewport mandatory"></xe-xml-sub-tags>
    </div>

    <button class="btn btn-primary btn-fullwidth btn-add-entry" ng-if="isLast()"
            ng-click="addTagAfter(XmlTag('entry','',[], [XmlTag('labels','',[],[]), XmlTag('viewport','5',[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create Entry</button>
</div>