<div class="xe-tag-container xe-entryGroup">

    <div class="panel panel-default xe-collapsingpanel">

        <div class="panel-heading" role="tab" id="heading_entryGroup_{{subIndex}}">
            <h4 class="panel-title">
                <button class="btn xe-collapse-toggle-button" type="button" data-toggle="collapse" data-target="#collapse_entryGroup_{{subIndex}}" aria-expanded="true" aria-controls="collapse_entryGroup_{{subIndex}}">
                    <span class="xe-caret"></span> Entry Group
                </button>
            </h4>
        </div>

        <div id="collapse_entryGroup_{{subIndex}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_entryGroup_{{subIndex}}">
            <div class="panel-body">
                <div class="xe-entryGroup-panel">
                    <div class="xe-header"></div>
                    <div class="xe-body">
                        <xe-xml-sub-tags xml-tag="xmlTag" q-name-include-filter="labels"></xe-xml-sub-tags>
                        <xe-xml-sub-tags xml-tag="xmlTag" q-name-exclude-filter="labels"></xe-xml-sub-tags>
                    </div>
                    <div class="xe-footer"></div>
                </div>
            </div>
        </div>

    </div>

</div>