<div class="xe-tag-container xe-entryGroup">

    <div class="panel panel-default xe-collapsingpanel">

        <div class="panel-heading" role="tab" id="heading_entryGroup_{{$id}}">
            <h4 class="panel-title">
                <div class="btn-group" role="group">

                    <button class="btn btn-default xe-collapse-toggle-button" type="button" data-toggle="collapse" data-target="#collapse_entryGroup_{{$id}}" aria-expanded="true" aria-controls="collapse_entryGroup_{{$id}}">
                        <span class="xe-caret"></span> Entry Group
                    </button>

                    <button class="btn btn-default" type="button" data-toggle="collapse" ng-click="addTagBefore(XmlTag('entryGroup','',[], [XmlTag('labels','',[],[])]));">
                        <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" type="button" data-toggle="collapse" ng-click="addTagAfter(XmlTag('entryGroup','',[], [XmlTag('labels','',[],[])]));">
                        <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    <button class="btn btn-default pull-right" type="button" data-toggle="collapse" ng-click="removeTag();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                </div>
            </h4>
        </div>

        <div id="collapse_entryGroup_{{$id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_entryGroup_{{$id}}">
            <div class="panel-body">
                <div class="xe-entryGroup-panel">
                    <div class="xe-header"></div>
                    <div class="xe-body">
                        <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="labels"></xe-xml-sub-tags>
                        <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="entry"></xe-xml-sub-tags>
                        <button class="btn btn-primary btn-fullwidth btn-add-entry" ng-if="!doSubTagsContain('entry')"
                                ng-click="addTag(xmlTag.subTags, XmlTag('entry',null,[XmlAttr('restid', '')], [XmlTag('labels',null,[],[]), XmlTag('viewport',null,[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create Entry</button>
                        <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-exclude-filter="labels entry"></xe-xml-sub-tags>
                    </div>
                    <div class="xe-footer"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<div ng-class="{'xe-spacer-2': ($parent.$index+1)%2 === 0, 'xe-spacer-3': ($parent.$index+1)%3 === 0}" ng-hide="$parent.$last"></div>