<div class="xe-tag-container xe-entry">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group" ng-if="!isFirst()">
            <button class="btn btn-primary btn-add-entry" ng-click="moveUp()"><span class="glyphicon glyphicon-sort"></span> Switch </button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-primary btn-add-entry"
                ng-click="addTagBefore(XmlTag('entry',null,[XmlAttr('restid', '')], [XmlTag('labels',null,[],[]), XmlTag('viewport',null,[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create Entry</button>
        </div>
    </div>
    <div class="xe-tag-container xe-entry-body well">

        <div class="xe-entry-header container-fluid">
            <div class="row">
                <div class="xe-entry-delete col-xs-2">
                    <button class="btn btn-default pull-left" type="button" data-toggle="collapse" ng-click="removeTag();"
                            title="Delete Entry">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="xe-entry-restid col-xs-10">
                    <input class="form-control" ng-model="xmlTag.attributes[0].value" placeholder="restid" ng-required="true" title="restid">
                </div>
            </div>
        </div>
        <div class="xe-entry-labels">
            <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="labels"></xe-xml-sub-tags>
        </div>
        <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="viewport"></xe-xml-sub-tags>
        <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="mandatory"></xe-xml-sub-tags>
        <div class="xe-mandatory" ng-hide="doSubTagsContain('mandatory')">
            <button type="button" class="btn btn-default" ng-click="addTag(xmlTag.subTags, XmlTag('mandatory','false',[], []),0);">
                <span class="glyphicon glyphicon-check"></span> Mandatory
            </button>
        </div>

        <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-exclude-filter="labels viewport mandatory"></xe-xml-sub-tags>
    </div>

    <button class="btn btn-primary btn-fullwidth btn-add-entry" ng-if="isLast()"
            ng-click="addTagAfter(XmlTag('entry',null,[XmlAttr('restid', '')], [XmlTag('labels',null,[],[]), XmlTag('viewport',null,[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create Entry</button>
</div>