<div class="xe-tag-container xe-labels">

    <div class="panel panel-default xe-collapsingpanel">

        <div class="panel-heading" role="tab" id="heading_labels_{{$id}}">
            <h4 class="panel-title">
                <div class="xe-labels-header container-fluid">
                    <div class="row">
                        <div class="xe-labels-col col-xs-2">
                            <button class="btn btn-default xe-collapse-toggle-button"
                                    type="button" data-toggle="collapse" data-target="#collapse_labels_{{$id}}"
                                    aria-expanded="false" aria-controls="collapse_labels_{{$id}}"
                                    title="Edit Labels">
                                <span class="xe-caret"></span>
                            </button>
                        </div>
                        <div class="xe-labels-col col-xs-10">
                            <span class="xe-labels-summery"><span ng-repeat="label in xmlTag.subTags" ><span ng-bind="label.value" /> [<span ng-bind="label.attributes[0].value"/>]<span ng-show="!$last">, </span> </span></span>
                        </div>
                    </div>
                </div>
            </h4>
        </div>

        <div id="collapse_labels_{{$id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_labels_{{$id}}">
            <div class="list-groups">
                <xe-xml-sub-tags xml-tag="xmlTag"></xe-xml-sub-tags>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4"> </div>
                        <div class="col-sm-8 xe-input-container">
                            <button class="btn btn-default" ng-click="addTag(xmlTag.subTags, XmlTag('label','',[XmlAttr('lang','')], []));"><span class="glyphicon glyphicon-plus"></span> Add Label</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>