<div class="xe-tag-container xe-labels">
        <!-- trigger modal -->
   <div class="panel panel-default" data-toggle="modal" data-target="#xe_labels_modal_{{$id}}">
       <div class="panel-body">
            <span class="xe-labels-values"><span ng-repeat="label in xmlTag.subTags"><span class="xe-label" ng-bind="label.value" /> <span class="xe-label-lang">[<span ng-bind="label.attributes[0].value"/>]<span><span ng-show="!$last">, </span> </span></span>
       </div>
   </div>

    <div class="modal fade xe-labels-modal" id="xe_labels_modal_{{$id}}" tabindex="-1" role="dialog" aria-labelledby="xe_labels_modal_label_{{$id}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="xe_labels_modal_label_{{$id}}">Labels</h4>
                </div>
                <div class="modal-body">
                    <div class="list-groups">
                        <xe-xml-sub-tags xml-tag="xmlTag"></xe-xml-sub-tags>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-4"> </div>
                                <div class="col-sm-8 xe-input-container">
                                    <button class="btn btn-default" ng-click="addTag(xmlTag.subTags, XmlTag('label','',[XmlAttr('lang','')], []));"><span class="glyphicon glyphicon-plus"></span> Add Label</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

