<div class="xe-tag-container xe-labels">

    <div class="panel panel-default xe-collapsingpanel">

        <div class="panel-heading" role="tab" id="heading_labels_{{subIndex}}">
            <h4 class="panel-title">
                <button class="btn xe-collapse-toggle-button" type="button" data-toggle="collapse" data-target="#collapse_labels_{{subIndex}}" aria-expanded="false" aria-controls="collapse_labels_{{subIndex}}">
                    <span class="xe-entry-label"><span class="xe-caret"></span><span ng-repeat="label in xmlTag.subTags" ><span ng-bind="label.value" /> [<span ng-bind="label.attributes[0].value"/>]<span ng-show="!$last">, </span> </span></span>
                </button>
            </h4>
        </div>

        <div id="collapse_labels_{{subIndex}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_labels_{{subIndex}}">
            <div class="list-groups">
                <xe-xml-sub-tags xml-tag="xmlTag" group-index="{{subIndex}}"></xe-xml-sub-tags>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4"> </div>
                        <div class="col-sm-8 xe-input-container">
                            <button class="btn btn-default" ng-click="addTag(xmlTag.subTags, Tag('label','',[Attr('lang','')], []));"><span class="glyphicon glyphicon-plus"></span> Add Label</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>