
    <div class="xe-tag-container xe-label">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-2">
                    <button class="btn btn-default" ng-click="removeTag();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <label for="label_{{$id}}" class="col-xs-2 control-label">Label: </label>
                <div class="col-xs-8 xe-input-container">
                    <div class="input-group">
                        <input name="label_{{$id}}_language" id="lang_{{$id}}"
                               type="text" placeholder="lang"
                               class="form-control" aria-label="language"
                               ng-model="xmlTag.attributes[0].value" required>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">Select<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="" ng-click="xmlTag.attributes[0].value='de'">de</a></li>
                                <li><a href="" ng-click="xmlTag.attributes[0].value='en'">en</a></li>
                            </ul>
                        </div>
                    </div>
                    <input name="label_{{$id}}" id="label_{{$id}}"
                           type="text" placeholder="Label"
                           class="form-control col-xs-9" aria-label="Label"
                           ng-model="xmlTag.value" required>
                </div>
            </div>
        </div>
        <xe-xml-sub-tags sub-tags="xmlTag.subTags"></xe-xml-sub-tags>
    </div>

