<div class="xe-tag-container xe-mandatory">

    <div ng-switch on="xmlTag.value">
        <button ng-switch-when="true" type="button" class="btn btn-default" ng-click="xmlTag.value='false'">
            <span class="glyphicon glyphicon-check"></span> Mandatory
        </button>
        <button ng-switch-when="false" type="button" class="btn btn-default" ng-click="removeTag()">
            <span class="glyphicon glyphicon-unchecked"></span> Mandatory
        </button>
    </div>

    <xe-xml-sub-tags sub-tags="xmlTag.subTags"></xe-xml-sub-tags>

</div>