<div class="xe-tag-container xe-multiSubmit">

    <div class="panel panel-default xe-collapsingpanel">

        <div class="panel-heading" role="tab" id="heading_singleSubmit">
            <h4 class="panel-title">
                <div class="btn-group">
                    <button class="btn btn-default xe-collapse-toggle-button" type="button" data-toggle="collapse" data-target="#collapse_multiSubmit" aria-expanded="true" aria-controls="collapse_multiSubmit">
                        <span class="xe-caret"></span> Multi Submit
                    </button>
                    <button class="btn btn-default" type="button" data-toggle="collapse" ng-click="removeTag();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </h4>
        </div>

        <div id="collapse_multiSubmit" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_multiSubmit">
            <div class="panel-body">
                <div class="container-fluid xe-panel-container">
                    <div class="panel panel-default xe-collapsingpanel">
                        <div class="panel-heading" role="tab" id="heading_multiLog">
                            <h4 class="panel-title">
                                <button class="btn btn-default xe-collapse-toggle-button" type="button" data-toggle="collapse" data-target="#collapse_multiLog" aria-expanded="true" aria-controls="collapse_multiLog">
                                    <span class="xe-caret"></span> Log Settings
                                </button>
                            </h4>
                        </div>

                        <div id="collapse_multiLog" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_multiLog">
                            <div class="panel-body">
                                <div class="container-fluid xe-panel-container">
                                    <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="log"></xe-xml-sub-tags>
                                    <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="summerizeDataBy"></xe-xml-sub-tags>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container-fluid xe-panel-container">
                    <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-exclude-filter="log summerizeDataBy"></xe-xml-sub-tags>
                    <button class="btn btn-default" ng-if="!doSubTagsContain('entryGroup')" ng-click="addTag(xmlTag.subTags, XmlTag('entryGroup','',[], [XmlTag('labels','',[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create EntryGroup</button>
                </div>

            </div>
        </div>

    </div>

</div>