<div class="xe-tag-container xe-numberOfButtons" ng-form="numberOfButtons_{{$id}}_form">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default xe-numberOfButtons-modal-button" data-toggle="modal" data-target="#xe_datasource_type_modal_{{$id}}">
        <span  class="glyphicon glyphicon-th"></span> <span ng-bind="xmlTag.value"></span>
    </button>

    <!-- Modal -->
    <div class="modal fade xe-numberOfButtons-modal" id="xe_datasource_type_modal_{{$id}}" tabindex="-1" role="dialog" aria-labelledby="xe_datasource_type_modal_label_{{$id}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="xe_datasource_type_modal_label_{{$id}}">Number od Buttons</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Number of Buttons</label>
                        <input name="numberOfButtons_{{$id}}" class="form-control" ng-model="xmlTag.value" ng-pattern="/^[0-9]{1,7}$/">
                    </div>
                    <div class="clearfix">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close"><span>Close</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>