<div class="xe-tag-container xe-options">

    <div class="panel panel-default">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
            <div class="xe-selector btn-group  btn-group-justified" data-toggle="buttons">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-class="{active:doSubTagsContain('option')}" ng-click="xmlTag.subTags = [XmlTag('option','',[], [XmlTag('key','',[], []), XmlTag('labels','',[], [])])];">
                        local options
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-class="{active:doSubTagsContain('uri')}" ng-click="xmlTag.subTags = [XmlTag('uri','',[], [])];">
                        rest
                    </button>
                </div>
            </div>
            <xe-xml-sub-tags sub-tags="xmlTag.subTags"></xe-xml-sub-tags>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-show="doSubTagsContain('option')" ng-click="addTag(xmlTag.subTags, XmlTag('option','',[], [XmlTag('key','',[], []), XmlTag('labels','',[], [])]));">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="xmlfile.Add" translate-value-thing="Option">Add Option</span>
                </button>
            </div>
        </div>
    </div>

</div>