<div class="xe-tag-container xe-option">
    <div class="row">
        <div class="col-md-1 col-xs-2">
            <button class="btn btn-default" ng-click="removeTag();"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
        <div class="col-md-11 col-xs-10">
            <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="key"></xe-xml-sub-tags>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-2">
            &nbsp;
        </div>
        <div class="col-md-11 col-xs-10">
            <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-include-filter="labels"></xe-xml-sub-tags>
        </div>
    </div>
    <xe-xml-sub-tags sub-tags="xmlTag.subTags" q-name-exclude-filter="labels key"></xe-xml-sub-tags>
</div>