<div class="xe-tag-container xe-rowCount">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="rowCount" class="col-sm-3 control-label">Number of Rows: </label>
            <div class="col-sm-9 xe-input-container">
                <input id="rowCount" type="text" class="form-control" aria-label="rowCount" ng-model="xmlTag.value" ng-required="true" ng-pattern="/^[0-9]{1,7}$/">
            </div>
        </div>
    </div>
    <xe-xml-sub-tags xml-tag="xmlTag"></xe-xml-sub-tags>
</div>