<div class="xe-tag-container xe-show">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="show" class="col-sm-3 control-label">Show Log: </label>
            <div class="col-sm-9 xe-input-container">
                <select id="show" aria-label="show" class="form-control" ng-model="xmlTag.value">
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>
        </div>
    </div>
    <xe-xml-sub-tags xml-tag="xmlTag"></xe-xml-sub-tags>
</div>