<div class="xe-tag-container xe-singleSubmit">
    <div class="panel panel-default xe-collapsingpanel">

        <div class="panel-heading" role="tab" id="heading_singleSubmit">
            <h4 class="panel-title">
                <button class="btn btn-default xe-collapse-toggle-button" type="button" data-toggle="collapse" data-target="#collapse_singleSubmit" aria-expanded="true" aria-controls="collapse_singleSubmit">
                    <span class="xe-caret"></span> Single Submit
                </button>
            </h4>
        </div>

        <div id="collapse_singleSubmit" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_singleSubmit">
            <div class="panel-body">
                <div class="container-fluid xe-panel-container">
                    <xe-xml-sub-tags sub-tags="xmlTag.subTags"></xe-xml-sub-tags>
                    <div class="spacer-btn">
                        <button class="btn btn-default btn-fullwidth" ng-if="!doSubTagsContain('entryGroup')" ng-click="addTag(xmlTag.subTags, XmlTag('entryGroup','',[], [XmlTag('labels','',[],[])]));"><span class="glyphicon glyphicon-plus"></span> Create EntryGroup</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>