<div class="xe-tag-container xe-summerizeDataBy">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="summerizeDataBy" class="col-sm-3 control-label">Summerize data by: </label>
            <div class="col-sm-8 xe-input-container">
                <input id="summerizeDataBy" type="text" class="form-control" aria-label="summerizeDataBy" ng-model="xmlTag.value" required ng-pattern="/sampling.record(.[a-zA-Z])+/" >
            </div>
            <div class="col-sm-1">
                <span class="glyphicon glyphicon-info-sign" title="This value has to start with 'sampling.record.'"></span>
            </div>
        </div>
    </div>
</div>