<div class="xe-download xe-download-container" ng-if="xmlFileModel!=null">

    <span>
        <button class="btn btn-primary xe-btn-download"  ng-click="download()"><span class="glyphicon glyphicon-save-file"></span> <span translate="xmlfile.Download">Download</span></button>
        <span class="text-primary glyphicon glyphicon-refresh" ng-show="form.$dirty"></span>
        <span class="text-danger" ng-show="form.$invalid"><span class="glyphicon glyphicon-warning-sign"></span> <span translate="xmlfile.PleaseCheckForm">Bitte kontrollieren Sie das Formular auf Fehler!</span></span>
    </span>

    <hr>

    <div class="form-group"  ng-if="downloadFile!=null">
        <label for="downloadText">Downloaded File:</label>
        <textarea class="form-control" rows="20" id="downloadText" ng-model="downloadFile"></textarea>
    </div>


</div>