<div class="xe-upload xe-upload-container">

    <span>
        <ng-form class="novalidatemarker"name="uploadForm">
            <span class="xe-upload-filename" ng-show="uploadFile != null && !xmlFileIsSet" ng-bind="uploadFile.name"></span>

            <span class="btn btn-primary xe-btn-select btn-xs-full-width novalidatemarker" name="uploadFile"
                  accept="application/xml"
                  ngf-select  ngf-pattern="*.xml" ngf-max-size="20MB" required
                  ng-model="uploadFile" ng-show="!xmlFileIsSet">

                <span class="glyphicon  glyphicon-file"></span> <span translate="xmlfile.SelectFile">Select File</span>
            </span>


            <button class="btn btn-primary xe-btn-upload btn-xs-full-width"
                    ng-hide="xmlFileIsSet"
                    ng-disabled="uploadForm.uploadFile.$error.required || uploadForm.uploadFile.$error.pattern"
                    ng-click="upload()"><span class="glyphicon glyphicon-open-file"></span>
                <span translate="xmlfile.Upload">Upload</span>
            </button>

            <button class="btn btn-primary xe-btn-loadSample btn-xs-full-width" ng-show="!xmlFileIsSet" ng-click="loadSample()"><span translate="xmlfile.LoadSampleFile">Load Sample File</span></button>
        </ng-form>
        <div class="text-danger" ng-show="uploadForm.uploadFile.$error.pattern"><span class="glyphicon glyphicon-alert"></span> <span>Es können nur XML-Dateien hochgeladen werden!</span></div>
    </span>



    <span>
        <span class="xe-upload-filename" ng-show="xmlFileIsSet" ng-bind="xmlFileName"></span>
        <a class="btn btn-danger xe-btn-delete" ng-show="xmlFileIsSet;" href="javascript:window.location.reload();"><span class="glyphicon glyphicon-trash"></span></a>
    </span>

</div>