<div class="xe-tag-container well ">

    <div class="form-horizontal">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="collapse" ng-click="removeTag();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
                <span class="input-group-addon">&#60;</span>
                <input class="form-control" placeholder="tag" ng-model="xmlTag.qName" ng-required="true"/>
                <span class="input-group-addon">&#62;</span>
            </div>
            <div class="well" ng-hide="xmlTag.subTags.length > 0">
                <div class="input-group">
                    <input class="form-control" placeholder="value" ng-model="xmlTag.value" ng-required="false"/>
                </div>
            </div>
            <div class="input-group" ng-hide="xmlTag.subTags.length > 0" >
                <span class="input-group-addon">&#60;</span>
                <input class="form-control" placeholder="tag" ng-model="xmlTag.qName" ng-required="true"/>
                <span class="input-group-addon">&#62;</span>
            </div>
        </div>
    </div>

    <xe-xml-sub-tags xml-tag="xmlTag"></xe-xml-sub-tags>

    <div class="form-horizontal"  ng-show="xmlTag.subTags.length > 0">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">&#60;</span>
                <input class="form-control" placeholder="tag" ng-model="xmlTag.qName" ng-required="true"/>
                <span class="input-group-addon">&#62;</span>
            </div>
        </div>
    </div>

</div>